main {
  section {
    padding: 1rem;
  }

  form {
    display: grid;
  }
}

// Tailwindcss conflicts with Angular Material
:host ::ng-deep .mdc-notched-outline__notch {
  border-right: none !important;
}
