<mat-toolbar color="primary"> NgxCountrySelect Demo</mat-toolbar>

<main>
  <section>
    <div class="mockup-browser border bg-base-200">
      <div class="mockup-browser-toolbar">
        <div class="input !bg-base-300">https://your-site.com</div>
      </div>

      <div class="flex justify-center px-4 py-16 bg-base-100">
        <ngx-country-select
          [label]="'Select a Country'"
          [placeHolder]="optionsForm.controls.placeHolder.value"
          [appearance]="optionsForm.controls.appearance.value"
          [color]="optionsForm.controls.color.value"
          [language]="optionsForm.controls.language.value"
          [required]="optionsForm.controls.required.value"
          [disabled]="optionsForm.controls.disabled.value"
        />
      </div>
    </div>
  </section>

  <section>
    <h2>Options</h2>

    <form [formGroup]="optionsForm">
      <mat-form-field>
        <mat-label>Appearance</mat-label>
        <mat-select formControlName="appearance">
          <mat-option value="outline">Outline</mat-option>
          <mat-option value="fill">Fill</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <mat-option value="primary">Primary</mat-option>
          <mat-option value="accent">Accent</mat-option>
          <mat-option value="warn">Warn</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Label</mat-label>
        <input aria-label="Label" matInput formControlName="label"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Placeholder</mat-label>
        <input
          aria-label="Placeholder"
          matInput
          formControlName="placeHolder"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          @for (lang of supportedLanguages; track lang.code) {
            <mat-option [value]="lang.code">
              {{ lang.code }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-checkbox color="primary" formControlName="required" aria-label="Required">
        Required
      </mat-checkbox>

      <mat-checkbox color="primary" formControlName="disabled" aria-label="Disabled">
        Disabled
      </mat-checkbox>
    </form>
  </section>
</main>
